.bar--positive {
	fill: blue;
}

.bar--negative {
	fill: red;
}

.bar--net {
	fill: purple;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}